.Dome{
    
      border: 15px solid black;
      height:100vh;
      background-color:black;
}
.innerDome{
    border: 10px solid white;
    border-radius:10px;
    height:95vh;
    background-color:white;
    
}
.inner-inner-Dome{
    
    height:92vh;
    border-radius:10px;
    background-color: #d3cac6;
    

}
.inner-inner-Dome .light1{
    width:3vw;
    margin-left: 40%;
    padding-bottom: 30px;
    
 
}
.inner-inner-Dome .light2{
    margin-left: 10%;
    width:3vw;
    padding-bottom: 30px;
    
}

.inner-inner-Dome .button{
    position: relative;
    width: 80px;
    margin-right: 10%;
    display: flex;
   justify-content: right;
   align-items: center; 
    z-index: 1000;
    
}

.scoreCard{
    
    color:white;
    font-family: ClockFont;
    font-size:50px;
    text-align: center;
    width:150px;
    background-color:black;
    border-radius:10px;
   margin-left: 11%;
   display: flex;
   justify-content: end;
   align-items: center;
    height: 11vh;
    
    
}
.options{
 margin-top: 0.4%;
 max-width: 100%;
}
.playBoard{
   height:85%;
   font-family: ClockFont;
   font-size:50px; 
   width: 100%;
   margin: auto;
   display: flex;
    justify-content: center;
    align-items: center;
    
}
.playBoard p{
    text-align: center;
    

 }
 
 .playBoard .Monster img{
    display: flex;
    justify-content: center;
    align-items: center; 
     width: 350px;
     height:45vh;
     
 }
 .playBoard .stats{
     font-size: 100%;
     
    width: 100%;
    margin: auto;
 }

.playBoard .stats .row .col{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.innermost-Dome{
 width: 80%;
 margin: auto;
 background-color:white;
 height:69vh;
 border-radius:10px;
 border: 15px solid black;
}
.innermost-Dome img{
    width:7.6%;
    padding-left:4.5%;
    padding-right: 4.5%;
    z-index: 1000;
}
.bar
{
   font-size: 80px; 
   float: right;
   display: flex;
   float: right;
   text-align: right;
   margin-left: 45%;
}
.iconRow{
    margin-top: 1.5%;
}

@media screen and (max-width: 992px) {
    .scoreCard{
        margin-left: 12.5%;
    }
    .bar {
      margin-left: 22%;
    }
  }
@media screen and (max-width: 600px)
   {
    .scoreCard{
        margin-left: 13.5%;
    }
    .bar {
      margin-left:2%
    }
  }

@font-face {
    font-family: ClockFont;
    src: url('SFDigitalReadout-Heavy.ttf');
  }