.Dome{
    
      border: 15px solid black;
      height:100vh;
      background-color:black;
}
.innerDome{
    border: 10px solid white;
    border-radius:10px;
    height:90vh;
    background-color:white;
    
}
.inner-inner-Dome{
    
    height:87vh;
    border-radius:10px;
    background-color: #d3cac6;
    

}
.inner-inner-Dome .light1{
    width:3vw;
    margin-left: 40%;
    
}
.inner-inner-Dome .light2{
    margin-left: 10%;
    width:3vw;
    
}

.inner-inner-Dome .button{
    position: relative;
    width: 70px;
    margin-right: 10%;
    display: flex;
   justify-content: center;
   align-items: center; 
    z-index: 1000;
    
}

.scoreCard{
    
    color:white;
    font-family: ClockFont;
    font-size:3.5vw;
    text-align: center;
    background-color:black;
    border-radius:10px;
   margin-left: 11%;
   display: flex;
   justify-content: center;
   align-items: center;
    height: 9vh;
    
    
}
.options{
 margin-top: 1%;
}
.playBoard{
   height:85%;
   font-family: ClockFont;
   font-size:50px; 
   width: 100%;
   margin: auto;
   display: flex;
    justify-content: center;
    align-items: center; 
}
.playBoard p{
    text-align: center;
    margin-top:10%

 }
 
 .playBoard .Monster img{
    display: flex;
    justify-content: center;
    align-items: center; 
     width: 300px;
     height:45vh;
     
 }
 .playBoard .stats{
     font-size: 100%;
     
    width: 100%;
    margin: auto;
 }

.playBoard .stats .row .col{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.innermost-Dome{
 width: 80%;
 margin: auto;
 background-color:white;
 height:65vh;
 border-radius:10px;
 border: 15px solid black;
}
.innermost-Dome img{
    width:7.6%;
    padding-left:4.5%;
    padding-right: 4.5%;
    z-index: 1000;
}
.bar
{
   font-size: 70px; 
   float: right;
   display: flex;
   justify-content: center;
   align-items: center;
}

@font-face {
    font-family: ClockFont;
    src: url('SFDigitalReadout-Heavy.ttf');
  }